@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$white:rgba(255, 255, 255, 1);
$liner-purple:rgba(192, 38, 211, 1);
$light-blue:rgba(71, 85, 105, 1);
$black:rgba(15, 23, 42, 1);
$off-white:rgba(203, 213, 225, 1);
$bg-white: rgba(241, 245, 249, 1);




